<div class="spaced">
  <h2>{{header}}</h2>
  <label>Per page
    <select>
      <option (click)="itemsPerPage = 5">5</option>
      <option (click)="itemsPerPage = 10">10</option>
      <option (click)="itemsPerPage = 25">25</option>
      <option (click)="itemsPerPage = 50">50</option>
      <option (click)="itemsPerPage = 100" selected>100</option>
    </select>
  </label>
</div>
<!-- Show list of books -->
<ng-container *ngIf="books; else elseBlock">
  <ul>
    <li
      class="entry"
      *ngFor="let book of books | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index"
    >
      <div class="cover">
        <a routerLink="/book/{{book.isbn}}" [state]="{ book: book }">
          <img alt="{{book.title}} book cover" src="{{book.cover}}" width="{{imageWidth}}"/>
        </a>
      </div>
      <div>
        <div class="header">
          <a routerLink="/book/{{book.isbn}}" [state]="{ book: book }">
            <h3>{{book.title}}</h3>
          </a>
          <span> by {{book.authors}} </span>
          <!-- Only show ratings if they were passed from parent component -->
          <span *ngIf="ratings" class="material-icons star">star</span>
          <span *ngIf="ratings" class="rating">{{formatRating(ratings[i])}}</span>
        </div>
        <p class="text">{{book.description}}</p>
      </div>
    </li>
  </ul>
</ng-container>
<!-- Show list of reviews -->
<ng-template #elseBlock>
  <ul *ngIf="reviews">
    <li
      class="entry"
      *ngFor="let review of reviews | paginate: { itemsPerPage: itemsPerPage, currentPage: p }"
    >
      <div class="cover">
        <a routerLink="/book/{{review.isbn}}" [state]="{ book: review.book }">
          <img alt="{{review.book.title}} book cover" src="{{review.book.cover}}" width="{{imageWidth}}"/>
        </a>
      </div>
      <div>
        <div class="header">
          <a routerLink="/book/{{review.isbn}}" [state]="{ book: review.book }">
            <h3>{{review.book.title}}</h3>
          </a>
          <span> by </span>
          <a routerLink="/user/{{review.username}}">{{review.username}} </a>
          <span class="material-icons star">star</span>
          <span class="rating">{{review.stars}}</span>
        </div>
        <p class="text review">{{review.text}}</p>
        <a
          routerLink="/reviews/{{review.username}}/book/{{review.book.isbn}}"
          [state]="{ review: review }"
          class="link"
        >
          see full review
        </a>
      </div>
    </li>
  </ul>
</ng-template>
<pagination-controls class="pagination" [autoHide]="true" (pageChange)="p = $event"></pagination-controls>
