<section>
  <!-- Don't show section for writing a review if user hasn't read book -->
  <div *ngIf="status > 0">
    <div class="spaced">
      <button (click)="toggleReview()">Write a review</button>
      <app-star-rating
        *ngIf="writeReview"
        [maxRating]="5"
        [rating]="rating"
        [active]="true"
        (newRatingEvent)="getRating($event)"
      >
      </app-star-rating>
    </div>
    <div *ngIf="writeReview">
      <textarea rows="8" cols="60" spellcheck="true" [(ngModel)]="text"></textarea>
      <div class="right"><button (click)="addReview()">Post review</button></div>
      <div class="success center" *ngIf="posted">Review added!</div>
    </div>
  </div>
  <ul>
    <li *ngFor="let review of reviews | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
      <div class="spaced">
        <div class="header">
          <h3>
            <a routerLink="/user/{{review.username}}">{{review.username}}</a>
          </h3>
          <span> rated it </span>
          <span class="rating">
            <app-star-rating [maxRating]="5" [rating]="review.stars" [active]="false"></app-star-rating>
          </span>
        </div>
        {{getDate(review.date)}}
      </div>
      <p class="text">{{review.text}}</p>
      <a
        routerLink="/reviews/{{review.username}}/book/{{review.book.isbn}}"
        [state]="{ review: review }"
        class="link">see full review</a>
    </li>
  </ul>
  <pagination-controls class="pagination" [autoHide]="true" (pageChange)="p = $event"></pagination-controls>
</section>
