section {
  display: block;
  margin-top: 24px;
  /* Keep width same as textarea + padding */
  max-width: 612px;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h4 {
  margin-bottom: 0;
  font-size: 16px;
}
h3 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
textarea {
  resize: none;
  width: 594px;
  padding: 8px;
}
div {
  margin: 0;
  padding: 0;
}
button {
  display: inline-block;
  margin: 0;
}
ul {
  margin-top: 16px;
}
li {
  margin: 4px 0 12px 0;
}
p {
  margin: 4px 0 0 0;
  padding: 0;
  white-space: pre-line;
}
.spaced {
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  align-items: baseline;
  white-space: pre;
}
.text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.rating {
  align-self: center;
  margin-top: -2px;
}
.right {
  text-align: right;
}
.link {
  display: block;
  font-size: 15px;
  color: #492080;
  margin-top: 4px;
}
.pagination {
  text-align: center;
  font-size: 15px;
}
.pagination /deep/ .ngx-pagination .current {
  background: #492080;
  border-radius: 5px;
}
.delete {
  background: #a23637;
  border: #8e2223 solid 1px;
  margin-right: 8px;
}
