<div class="rating">
  <div [ngClass]="active ? 'enabled' : 'disabled'" class="material-icons">
    <span
      *ngIf="active"
      class="reset"
      (click)="reset()"
      (mouseover)="previewStars(-1)"
      (mouseout)="setStars()"
    >
      disabled_by_default
    </span>
    <span
      *ngFor="let star of stars; let i = index"
      class="star"
      (click)="active && onRatingChange(i)"
      (mouseover)="active && previewStars(i)"
      (mouseout)="active && setStars()"
    >
      {{star}}
    </span>
  </div>
</div>
