:host {
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  padding: 10px;
}
footer {
  width: 1200px;
}
section {
  max-width: 480px;
}
h2 {
  font-weight: 200;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p {
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  text-align: justify;
}
a {
  text-decoration: none;
  color: #6b2dbe;
}
.bold {
  font-weight: 700;
}
