:host {
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  padding: 10px;
}
footer {
  width: 1200px;
}
section {
  max-width: 500px;
}
h4 {
  font-family: sans-serif;
  font-weight: normal;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p {
  font-family: sans-serif;
  font-size: 11pt;
}
a {
  text-decoration: none;
  color: #6b2dbe;
}
