<header>
  <div class="container">
      <h1>
      <a class="title" routerLink="/">
        book<span class="bold">owl</span>
      </a>
    </h1>
    <app-dropdown-menu
      text="Books"
      [links]="[
        { text: 'Popular', target: '/books/popular' },
        { text: 'Highest rated', target: '/books/highest-rated' },
        { text: 'Recent', target: '/books/recent' }
      ]"
    >
    </app-dropdown-menu>
    <app-navigation [links]="[{ text: 'Reviews', target: '/reviews' }]"></app-navigation>
  </div>
  <div class="container">
    <app-search-bar></app-search-bar>
    <app-login-navigation></app-login-navigation>
  </div>
</header>
