:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #321657;
  color: white;
  padding: 10px;
  height: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 8px;
  font-family: Verdana, sans-serif;
  white-space: nowrap;
}
h1 {
  font-weight: lighter;
  font-size: 20pt;
  margin-right: 32px;
}
a {
  color: inherit;
  text-decoration: none;
  padding: 8px;
  margin: 0 8px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  padding: 0;
  margin: 0;
}
.bold {
  font-weight: bold;
}
