img {
  border-radius: 5px;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  margin-bottom: 0;
}
h3 {
  font-weight: normal;
  margin-top: 0;
}
h4 {
  font-family: sans-serif;
  font-size: 11pt;
  margin: 0 0;
}
p {
  white-space: pre-line;
}
.review {
  display: flex;
  gap: 20px;
}
.cover {
  margin-top: 20px;
  position: relative;
}
.info {
  width: 612px;
}
.spaced {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
