input {
  font-size: 18px;
  border: none;
  outline: none;
}
.search {
  display: flex;
  border: 4px solid white;
  border-radius: 8px;
  background: white;
  color: black;
  margin: 0 8px;
}
.find {
  border: none;
  background: white;
  opacity: 0.54;
}
