p {
  white-space: pre-line;
}
.text {
  -webkit-line-clamp: 2;
}
.link {
  display: block;
  font-family: sans-serif;
  font-size: 11pt;
  color: #492080;
  margin-top: 4px;
}
.star {
  color: darkgoldenrod;
  font-size: 14pt;
  align-self: center;
}
.rating {
  font-family: sans-serif;
  font-size: 11pt;
}
