:host {
  width: 1200px;
}
img {
  border-radius: 5px;
}
a {
  color: inherit;
  text-decoration: none;
}
.entries {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.entry {
  display: flex;
  justify-content: center;
  max-width: 140px;
}
.entry img {
  display: block;
  margin: 0 auto;
}
.entry p {
  text-align: center;
}
