h1 {
  text-align: center;
}
.icon {
  display: block;
  color: #f2f2f2;
  font-size: 400px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
