@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/Amiri-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  src: url(src/assets/fonts/Amiri-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 400;
  src: url(src/assets/fonts/Amiri-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 700;
  src: url(src/assets/fonts/Amiri-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  src: url(src/assets/fonts/Jost-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 200;
  src: url(src/assets/fonts/Jost-ExtraLightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  src: url(src/assets/fonts/Jost-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
  src: url(src/assets/fonts/Jost-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url(src/assets/fonts/Jost-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 700;
  src: url(src/assets/fonts/Jost-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(src/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}
p {
  font-family: Amiri, serif;
  font-size: 17px;
  line-height: 1.2em;
  text-align: justify;
  white-space: pre-line;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

